---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 5
---
{% set latestpostslist = collections.posts | getPostsWithoutTag("pinned") | head(-1 * numberOfLatestPostsToShow) %}
{% set pinnedpostslist = collections.posts | getPostsWithTag("pinned") %}
<h1>&#x1F4CC; Pinned Posts</h1>
{% for post in pinnedpostslist | reverse %}
{% include "post.njk" %}
{% endfor %}
<h1>&#x2728; Latest Posts</h1>
{% for post in latestpostslist | reverse %}
{% include "post.njk" %}
{% endfor %}
<i><a href="/blog/">All Posts</a></i>
{% include "tagslist.njk" %}


{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
